{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <main>
        <section class="hero">
            <div class="hero-content">
                <div class="about-image">
                    <img src="{{ asset('images/moi.png') }}" alt="Logo Maxime">
                </div>
                <h1 class="hero-title">Maxime</h1>
                <p class="hero-description">Étudiant en Licence MIAGE. Passionné d'informatique, de voitures et de musique. Toujours à la recherche de nouveaux défis et d'opportunités pour apprendre et évoluer dans le domaine technologique.</p>
                <div class="cta-buttons">
                    <a href="{{ path('about') }}" class="button cta-button">À propos de moi</a>
                    <a href="{{ path('projects') }}" class="button cta-button">Voir mes projets</a>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
