{% extends 'base.html.twig' %}

{% block body %}
    <main>
        <section class="experience-detail-section">
            <h1 class="section-title">{{ experience.label }}</h1>
            <div>{{ content|raw }}</div>
            <p>Entreprise: {{ experience.company }}</p>
        </section>
    </main>
{% endblock %}
