name: Deploy Portfolio

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            cd /var/www/portfolio
            git fetch origin main
            git reset --hard origin/main
            composer install --no-dev --optimize-autoloader
            export APP_ENV=prod
            export APP_SECRET="mettez_votre_secret_ici"
            php bin/console cache:clear --env=prod
            php bin/console cache:warmup --env=prod
            php bin/console asset-map:compile --env=prod
            chmod -R 775 var
