name: Deploy Symfony

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Deploy to server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            set -e

            cd /var/www/portfolio

            git fetch origin main
            git reset --hard origin/main

            composer install --no-dev --optimize-autoloader

            sudo -u www-data php bin/console cache:clear --env=prod --no-warmup
            sudo -u www-data php bin/console cache:warmup --env=prod

            sudo -u www-data php bin/console asset-map:compile --env=prod

            sudo chown -R www-data:www-data var
            sudo chmod -R 775 var
