on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.9
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            set -e
            cd /var/www/portfolio

            git fetch origin main
            git reset --hard origin/main

            composer install --no-dev --optimize-autoloader --no-scripts
            php bin/console cache:clear --env=prod --no-warmup
            php bin/console cache:warmup --env=prod

            php bin/console asset-map:compile --env=prod

            chmod -R 775 var
